raytracer
\#*
*~
.*~
*.bak
.*.bak
*.tmp
.*.tmp
src/\#*
src/*~
src/.*~
src/*.bak
src/.*.bak
src/*.tmp
src/.*.tmp
src/lib/\#*
src/lib/*~
src/lib/.*~
src/lib/*.bak
src/lib/.*.bak
src/lib/*.tmp
src/lib/.*.tmp